body {
    background-color: #fffbf7;
    font-family: Verdana;
}

h1 {
    color: #025157;
    text-align: center;
}
.promo {
    color: #8b8b8b;
}
.publish {
    color: #46484c;
    font-size: 20px;
}


button {
    background-color: #025157;
    color: #fff;
}
